{% extends "base.html" %}

{% block titulo %}Nosotros{% endblock %}

{% block contenido %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Acerca de la Librería Encanto de Libros</h2>
      <p>
        ¡Bienvenido a la Librería Encanto de Libros! Nos enorgullece ser una biblioteca dedicada a satisfacer la curiosidad y el amor por la lectura de nuestros visitantes. Desde que abrimos nuestras puertas en [año de fundación], hemos estado comprometidos con el propósito de enriquecer la vida de las personas a través del mundo mágico de los libros.
      </p>
      <p>
        Nuestra misión es fomentar la lectura y promover la educación, la imaginación y la creatividad en nuestra comunidad. Creemos firmemente que los libros pueden transformar vidas, inspirar a soñar y ofrecer una escapada a mundos inexplorados. En Librería Encanto de Libros, encontrarás una amplia selección de obras literarias que abarcan desde clásicos atemporales hasta las últimas novedades editoriales.
      </p>
      <p>
        ¿Qué hace que nuestra librería sea especial? Nuestro dedicado equipo de bibliotecarios y apasionados amantes de los libros está siempre dispuesto a ayudarte a descubrir la próxima historia que te cautivará. Con un ambiente acogedor y tranquilo, nuestros espacios de lectura te invitan a sumergirte en una experiencia de lectura única y placentera.
      </p>
      <p>
        Además de nuestra impresionante colección de libros, también organizamos diversos eventos culturales, clubes de lectura y talleres creativos que fomentan la interacción entre nuestros miembros y la comunidad en general. Creemos que la lectura es una experiencia compartida, y deseamos que cada visita a nuestra librería sea una oportunidad para conectar con otros amantes de la literatura.
      </p>
      <p>
        En Librería Encanto de Libros, creemos que los libros tienen el poder de cambiar vidas y abrir puertas a un mundo de posibilidades. Así que, si estás buscando sumergirte en nuevas aventuras, explorar ideas revolucionarias o simplemente disfrutar de momentos de tranquilidad en compañía de una buena lectura, te invitamos cordialmente a ser parte de nuestra comunidad de lectores.
      </p>
      <p>
        Gracias por visitarnos y ser parte de esta maravillosa travesía literaria. ¡Esperamos verte pronto en la Librería Encanto de Libros!
      </p>
    </div>
  </div>
</div>
{% endblock %}
